body {
    background-color: #b8e3e9;
    color: #0b2e33;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #4f7c82;
}

.btn-primary {
    background-color: #93b1b5;
    border-color: #93b1b5;
}

.btn-danger {
    background-color: #0b2e33;
    border-color: #0b2e33;
}

.btn-success {
    background-color: #4f7c82;
    border-color: #4f7c82;
}

.text-dark {
    color: #0b2e33 !important;
}

.card {
    background-color: #93b1b5;
}

.card-title, .card-text {
    color: #0b2e33;
}

.btn-warning {
    background-color: #b8e3e9;
    border-color: #0b2e33;
    color: #0b2e33;
}
